@model ListaDeFilmes.App.ViewModels.GeneroViewModel
@*@model ListaDeFilmes.Business.Models.Genero*@

@{
    ViewData["Title"] = "Detalhe do Gênero - " + Model.Nome;
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>